aws_access_key = "....."
aws_secret_key = "......."

f5xc_api_url      = "https://<tenant>.console.ves.volterra.io/api"
f5xc_api_p12_file = "..."
f5xc_tenant       = "<tenant>-........"
f5xc_api_token    = "....."
f5xc_aws_cred     = "........."

project_prefix    = "mw"
ssh_public_key    = "ssh-......."
bastion_cidr      = "............./32"
